# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Env — NUNCA commitear
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
